requests
aiohttp
hachoir
heroku3
wget
Pillow
pyromod
psutil
TgCrypto
motor
dnspython
ffmpeg
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/ali-mmagneto/gerek02
python-dotenv
pyrogram
aiofiles
streamlit
