aria2
requests
aiohttp
hachoir
heroku3
wget
Pillow
pyromod
psutil
TgCrypto
motor
dnspython
ffmpeg
yt-dlp==2023.10.13
git+https://github.com/ali-mmagneto/gerek02
python-dotenv
pyrogram
aiofiles
streamlit
